@charset "UTF-8";

/* Post게시물 출력 */
#createPostContainer {
	width: 42%;
    margin-left: 14%;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}

#createPostContainer:hover {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);   
    -o-transform:scale(1.03);
    transform:scale(1.03);
    z-index: 100 !important;
}

#imgDisplay {
	width: 25%;
	height: 150px;
}

#imgDisplay img {
	max-width: 100%;
	max-height: 100%;
}

.filebox {
	display: inline-block;
	float: right;
}

.filebox label {
	margin-top: 2%; 
	display: inline-block; 
	padding: .5em .75em; 
	color: rgb(247, 251, 247); 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: rgb(92, 184, 92); 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
} 

.filebox input[type="file"] { /* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

.filebox label:hover {
	box-shadow: 0 0 0 20px rgba(0,0,0,0.2) inset;
}

.privacyBoundContainer {
	display: inline-block;
}

.privacyBoundContainer label {
	display: inline-block;
	font-size: 1.2em;
}

#privacyBound {
	display: inline-block;
	width: 200px;
}




/* post 게시물 출력  */
.panel {
	margin-left: 15%;
    border: 1px solid rgb(7, 48, 110); 
    border-radius:0;
    transition: box-shadow 0.5s;
    width: 40%;
    margin-top: 3%;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .4);
}


.panel-heading {
    color: #fff !important;
    background-color: rgb(7, 48, 110) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-heading .userName {
	
}

.panel-default > .panel-heading {
	background-image: none;
    background-color: rgb(7, 48, 110);
    color: white;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-body {
    border-bottom: 1px solid rgb(7, 48, 110);
    padding: 2% 0;
}

.panel-footer {
    background-color: #fff;
    padding: 2% 0;
}

.panel-footer ul {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

.panel-footer li {
	padding: 0.3em;
}

#postContentsContainer  {
	margin-bottom: 2%;
}

#postContentsContainer pre, .panel-footer{
	margin: 0 2%;
	font-size: 1.2em;
	font-weight: normal;
	font-family: inherit; 
}

.imgSize {
    float: left;
    max-width: 50%;
    height: auto;
}






/* 댓글 입력 */



