<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group">
	<resultMap type="group" id="groupMap">
		<result column="g_category" property="g_category" typeHandler="strArr"/>
	</resultMap>
	<select id="selectGroupList" resultMap="groupMap">
		SELECT * FROM GROUP_LIST ORDER BY G_DATE DESC
	</select>
	
	<insert id="groupInsert">
		INSERT INTO GROUP_LIST VALUES(SEQ_GROUP_LIST.NEXTVAL,#{g_name},null,null,#{g_intro},#{g_category, typeHandler=strArr},DEFAULT,#{g_originalFilename},#{g_renamedFilename})
	</insert>
	
	<select id="groupSearch" parameterType="string" resultMap="groupMap">
		SELECT * FROM GROUP_LIST WHERE G_NAME=#{titleSearch} ORDER BY G_DATE DESC
	</select>
	
	<select id="groupFilter" parameterType="string" resultMap="groupMap">
		SELECT * FROM GROUP_LIST WHERE G_CATEGORY LIKE '%'||#{category}||'%' ORDER BY G_DATE DESC
	</select>
  
</mapper>
