<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group">
	<resultMap type="group" id="groupMap">
		<result column="g_category" property="g_category" typeHandler="strArr"/>
	</resultMap>
	<insert id="groupInsert">
		INSERT INTO GROUP_LIST VALUES(SEQ_GROUP_LIST.NEXTVAL,#{g_name},null,null,#{g_intro},#{g_category, typeHandler=strArr},DEFAULT)
	</insert>
  
</mapper>
