<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="post">
	<insert id="insertPost" parameterType="post">
		INSERT INTO POST(POST_NO, POST_WRITER, POST_CONTENTS, PRIVACY_BOUND, POST_DATE)
		VALUES(seq_post_no.nextval, #{postWriter}, #{postContents}, #{privacyBound}, systimestamp)
		<selectKey keyProperty="postNo" resultType="_int" order="AFTER">
			SELECT SEQ_POST_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertAttach" parameterType="attach">
		INSERT INTO ATTACHMENT(ATTACHMENT_NO, POST_NO, ORIGINAL_FILENAME, RENAMED_FILENAME, UPLOAD_DATE)
		VALUES(seq_attachment_no.nextval, #{postNo}, #{originalFileName}, #{renamedFileName}, systimestamp)
	</insert>
	
	
	
	<select id="selectPostList" resultType="post" resultMap="selectPostList">
		SELECT * FROM POST ORDER BY POST_DATE DESC
	</select>
	
	<select id="selectAttachList" parameterType="attach" resultType="attach" resultMap="selectAttachList">
		SELECT * FROM ATTACHMENT ORDER BY ATTACHMENT_NO ASC
	</select>
	
	<!-- 댓글 -->
	<insert id="insertComment" parameterType="comment">
		INSERT INTO JARVIS_COMMENT(COMMENT_NO, COMMENT_WRITER, COMMENT_CONTENTS, COMMENT_LEVEL, POST_REF, COMMENT_REF, COMMENT_DATE)
		VALUES(seq_comment_no.nextval, #{commentWriter}, #{commentContents}, #{commentLevel}, #{postRef}, ${commentRef}, systimestamp)
	</insert>
	
	<select id="selectCommentList" resultType="comment" resultMap="selectCommentList">
		SELECT * FROM JARVIS_COMMENT ORDER BY COMMENT_DATE ASC
	</select>
	
	
	<resultMap type="post" id="selectPostList">  <!-- Map을 이용할 때, resultMap사용. id는 xml안에서 태그를 불러올 변수명이다. -->
		<result column="post_no" property="postNo"/>
		<result column="post_writer" property="postWriter"/>
		<result column="post_contents" property="postContents"/>
		<result column="privacy_bound" property="privacyBound"/>
		<result column="post_date" property="postDate"/>
	</resultMap>
	
	<resultMap type="attach" id="selectAttachList">
		<result column="attachment_no" property="attachmentNo"/>
		<result column="post_no" property="postNo"/>
		<result column="original_filename" property="originalFileName"/>
		<result column="renamed_filename" property="renamedFileName"/>
		<result column="upload_date" property="uploadDate"/>
	</resultMap>
	
	<resultMap type="comment" id="selectCommentList">
		<result column="comment_no" property="commentNo"/>
		<result column="comment_writer" property="commentWriter"/>
		<result column="comment_contents" property="commentContents"/>
		<result column="comment_level" property="commentLevel"/>
		<result column="post_ref" property="postRef"/>
		<result column="comment_ref" property="commentRef"/>
		<result column="comment_date" property="commentDate"/>
	</resultMap>
</mapper>
