<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kh.mark.jarvis.friend.model.vo.Friend" alias="friend"/>
		<typeAlias type="kh.mark.jarvis.member.model.vo.Member" alias="member"/>
		<typeAlias type="kh.mark.jarvis.conversation.model.vo.Conversation" alias="conversation"/>
	</typeAliases>
</configuration>
